<h1>Migraine Management App Index Page</h1>
<% if (!user) { %>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
<% } else { %>
    <p>Welcome, <%= user.userName %>!</p>
    <a href="/migraines">View Migraine Logs</a>
<% } %>